name: leb128
description: A Dart package that can read and write numbers in the LEB128, short for Little Endian Base 128, format.
version: 1.0.1
homepage: https://github.com/hathibelagal-dev/LEB128

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
